
{% load static %}

<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/shopstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/shopproddetailsstyle.css' %}">
 
    
    
</head>

<body>

  <section>
    <nav class="navbar navbar-expand-lg navbar-light  bg-secondary  fixed-top ">
      <div class="container-fluid">
    <a href="user">  <img src="{% static 'images/shopify-logo-D197C4F3BC-seeklogo.com.png' %}" class=" "></a> 
        
     <div class="m-auto w-100 ">
        <form action="" class="m-auto w-100">
          <div class="input-group">
            <input type="text"  name="search" id="search" class="form-control
             border border-right-0" placeholder="search for everything....">
             <span class="input-group-append">
               <button class="btn btn-secondary border border-left-0 search-btn" type="submit"
               id="srch"><i class="fa fa-search"></i></button>
             </span>
          </div>
        </form>

      </div> 
    
        <button class="navbar-toggler ml-auto"   type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
          <ul class="navbar-nav ml-auto">
            <li class="nav-item col-12 col-lg-auto">
              <a class="nav-link text-white btn-outline-dark rounded-pill text-center"  href="user">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item col-12 col-lg-auto">
              <a class="nav-link text-white btn-outline-dark rounded-pill text-center " href="shop">Shop</a>
            </li>                
           
            <li class="nav-item col-12 col-lg-auto">
              <a class="nav-link text-white btn-outline-dark rounded-pill text-center" href="login">Sign Up/Login</a>
            </li>
        
          
       
       <li class="nav-item col-12 col-lg-auto">
        <a href="cart" class="nav-link text-white  text-center"><i class="fas fa-shopping-cart"></i></a>
        </li>
                 
</ul>
          
       </div>
    </div>
 </nav>
</section>

<div style="text-align: center;padding: 40px 0; padding-top: 80px; background: #EBF0F5; margin-top: 102px;width: 100%;height: 600px;" class="bg-danger">

<div class="card" style=" background: white;padding: 60px;border-radius: 4px;  box-shadow: 0 2px 3px #C8D0D8;display: inline-block;margin: 0 auto">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="checkmark" style="color: #f70707;font-size: 100px;line-height: 200px;margin-left:-15px;">✘</i>
    </div>
      <h1 style="color: #ff0000;font-family: Nunito Sans, Helvetica Neue, sans-serif;font-weight: 900;font-size: 40px;
      margin-bottom: 10px;">Failed</h1> 
      <p style=" color: #404F5E;font-family: Nunito Sans, Helvetica Neue, sans-serif;font-size:20px;margin: 0;">
       There is an error occured;<br/> Try again later.</p>
    </div>


</div>


<footer class=" py-3" id="foote">
  <div class="row container mx-auto pt-5">
    <div class="footer-one col-lg-3 col-md-6 col-12">
      <img src="{% static 'images/logggik.png' %}" alt="" srcset="" class="pb-4">
      <p class="pt-3">shopify is a online shopping site for mens. Its an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company.
      </p>
    </div>
    <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
      <h5 class="pb-2">Featured</h5>
      <ul class="text-uppercase list-unstyled">
        <li><a href="shop">Men</a></li>
      <li><a href="shop">fashion</a></li>
      <li><a href="shop">watches</a></li>
      <li><a href="shop">cloths</a></li>
      <li><a href="shop">New arrivals</a></li>
      <li><a href="shop">shoes</a></li>
      <li><a href="shop">executive</a></li>
      <li><a href="shop">casual</a></li>
      </ul>
    </div>
    <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
      <h5 class="pb-2">Contact Us</h5>
      <div>
        <h6 class="text-uppercase">Address</h6>
        <p>123 STREET ,BANGALORE </p>
      </div>
      <div>
        <h6 class="text-uppercase">Phone</h6>
        <p>+91 9605949378</p>
      </div>
      <div>
        <h6 class="text-uppercase">email</h6>
        <p>shopifymens@gmail.com</p>
      </div>
    </div>

    <div class="footer-one col-lg-3 col-md-6 col-12">
      <h5 class="pb-2">CONTACT US THROUGH</h5>
      <div class="row">
        <i class="fab fa-instagram p-3"></i>
        <i class="fab fa-facebook p-3"></i>
        <i class="fab fa-twitter p-3"></i>
        

        <div class="container pt-5">
        
        <img src="{% static 'images/payment.png' %}" alt="" srcset="">
      </div>
      

        </div>
        
    
  </div>

  <div class="container" id="copyright">
    <hr>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-12">
           
            <p class="copyright"><i class="far fa-copyright"></i>&nbsp;COPYRIGHT 2021, ALL RIGHTS RESERVED</p>

            
        </div>
    </div>
    </div>



</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    
</body>
</html>