{% load static %}

<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/shopstyle.css' %}">
    
    
</head>

<body>

    <section>
        <nav class="navbar navbar-expand-lg navbar-light  bg-secondary">
          <div class="container-fluid">
            <img src="{% static 'images/shopify-logo-D197C4F3BC-seeklogo.com.png' %}" class="pb-1 pr-2">
            
         <div class="m-auto w-100 pl-2">
            <form action="" class="m-auto w-100">
              <div class="input-group">
                <input type="text"  name="search" id="search" class="form-control
                 border border-right-0" placeholder="search for everything....">
                 <span class="input-group-append">
                   <button class="btn btn-secondary border border-left-0 search-btn" type="submit"
                   id="srch"><i class="fa fa-search"></i></button>
                 </span>
              </div>
            </form>

          </div> 
        
            <button class="navbar-toggler ml-auto"   type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
              <ul class="navbar-nav ml-auto">
                <li class="nav-item col-12 col-lg-auto">
                  <a class="nav-link text-white btn-outline-dark rounded-pill text-center"  href="user">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item col-12 col-lg-auto">
                  <a class="nav-link text-white btn-outline-dark rounded-pill text-center" href="shop">Shop</a>
                </li>                
                <li class="nav-item col-12 col-lg-auto">
                  <a class="nav-link text-white btn-outline-dark rounded-pill text-center" href="#foote">Contact Us</a>
                </li>

              <div class="dropdown m-auto">
                  <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <a href="profile" class="dropdown-item " type="button" style="font-weight: 700;">My Profile</a>
                
                
                 <div class="dropdown-divider"></div>
                  <a href="" class="dropdown-item active bg-warning " type="button" style="font-weight: 700;">logout</a>
                  </div>
                </div>
     

              
           
           <li class="nav-item col-12 col-lg-auto">
            <a href="cart" class="nav-link text-white  text-center ml-auto"><i class="fas fa-shopping-cart"></i></a>
                     
    </ul>
              
           </div>
        </div>
     </nav>
</section>

<div class="container mt-5">

    <img src="{% static 'images/unnamed.png' %}" style="height: 200px; width: 200px;" alt="" srcset="" 
    class="rounded-circle mx-auto d-block mt-3">
        
  <table class="table table-striped  ">
    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Personal Details</h2><br>
    <thead>
      <tr>
        <th>First Name</th>
        <td>Ashik</td>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Last Name</th>
        <td>Ahammed</td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>male</td>
      </tr>
      <tr>
        <th>Date of Birth</th>
        <td>Nov 25, 1998</td>
      </tr>
      <tr>
        <th>Mobile</th>
        <td>995742369</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>ashikahammed@gmail.com</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>Cochin</td>
      </tr>
      <tr>
        <th>Country</th>
        <td>India</td>
      </tr>
      
    </tbody>
  </table>





    <div class="text-center">
      <button type="button" class="btn  btn-outline-primary">EDIT PROFILE</button>
    </div>

  </div>


<footer class="mt-3 py-3" id="foote">
    <div class="row container mx-auto pt-5">
      <div class="footer-one col-lg-3 col-md-6 col-12">
        <img src="{% static 'images/logggik.png' %}" alt="" srcset="" class="pb-4">
        <p class="pt-3">shopify is a online shopping site for mens. Its an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company.
        </p>
      </div>
      <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
        <h5 class="pb-2">Featured</h5>
        <ul class="text-uppercase list-unstyled">
          <li><a href="shop">Men</a></li>
        <li><a href="shop">fashion</a></li>
        <li><a href="shop">watches</a></li>
        <li><a href="shop">cloths</a></li>
        <li><a href="shop">New arrivals</a></li>
        <li><a href="shop">shoes</a></li>
        <li><a href="shop">executive</a></li>
        <li><a href="shop">casual</a></li>
        </ul>
      </div>
      <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
        <h5 class="pb-2">Contact Us</h5>
        <div>
          <h6 class="text-uppercase">Address</h6>
          <p>123 STREET ,BANGALORE </p>
        </div>
        <div>
          <h6 class="text-uppercase">Phone</h6>
          <p>+91 9857454725</p>
        </div>
        <div>
          <h6 class="text-uppercase">email</h6>
          <p>shopifymens@gmail.com</p>
        </div>
      </div>
  
      <div class="footer-one col-lg-3 col-md-6 col-12">
        <h5 class="pb-2">CONTACT US THROUGH</h5>
        <div class="row">
          <i class="fab fa-instagram p-3"></i>
          <i class="fab fa-facebook p-3"></i>
          <i class="fab fa-twitter p-3"></i>
          
  
          <div class="container pt-5">
          
          <img src="{% static 'images/payment.png' %}" alt="" srcset="">
        </div>
        
  
          </div>
          
      
    </div>
  
    <div class="container" id="copyright">
      <hr>
      <div class="row">
          <div class="col-md-12 col-lg-12 col-12">
             
              <p class="copyright"><i class="far fa-copyright"></i>&nbsp;COPYRIGHT 2021, ALL RIGHTS RESERVED</p>
  
              
          </div>
      </div>
      </div>
  
  
  
  </footer>
  
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
      
  </body>
  </html>