/{% extends 'shopbase.html' %}
{% load static %}
{% block content %}


<section class=" container sproduct my-5 pt-5">
  <div class="row mt-5">
    <div class="col-lg-5 col-md-12 col-12 mt-5">
    <img src="{% static 'images/wrb-sw-colorfitpro2-std-blk-android-ios-noise-original-imafqsqgcgsb79fg.jpg' %}" alt="" srcset="" id="MainImg"  class="img-fluid w-100 pb-1">


    <div class="small-img-group">
      <div class="small-img-col">
        <img src="{% static 'images/wrb-sw-colorfitpro2-std-blk-android-ios-noise-original-imafqsqgcgsb79fg.jpg' %}" alt="" width="100%" srcset="" class="small-img">
      </div>
      <div class="small-img-col">
        <img src="{% static 'images/wrb-sw-colorfitpro2-std-blk-android-ios-noise-original-imafqsqg7ygheujc.jpg' %}" alt="" width="100%" srcset="" class="small-img">
      </div>
      <div class="small-img-col">
        <img src="{% static 'images/wrb-sw-colorfitpro2-std-blk-android-ios-noise-original-imafqsqg5whddy5j.jpg' %}" alt="" width="100%" srcset="" class="small-img">
      </div>
      <div class="small-img-col">
        <img src="{% static 'images/wrb-sw-colorfitpro2-std-blk-android-ios-noise-original-imafqsqgavzthwmj.jpg' %}" alt="" width="100%" srcset="" class="small-img">
      </div>
    </div>
    </div>


    <div class="col-lg-5 col-md-12 col-12 mt-5">
      <p class="fs-5">Watch</p>
      <h6 class="mt-3"> <b>NOISE</h6></b>
      <h3 class="py-4">Noise ColorFit Pro 2 Smartwatch  (Black Strap, Regular)</h3>
      <h2>2999.00</h2>
     
    <input type="number" class="mt-3" value="1">
    <button type="button" class="btn btn-dark btn-outline-warning">ADD TO CART</button>
    <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
    <h4 class="mt-3 mb-3">Available offers&nbsp;<i class="fas fa-tag" style="color: green;"></i></h4>
    <span>
      <ul>
      
        <li>Flat 15% discount on all Wednesdays<br></li>
        <li>Flat 20% discount on Midnight 12:00 am<br></li>  
      
        
  
           </ul>
    </span>

    <hr>

    <h4 class="mt-3 mb-3"> Product Details</h4>
    <span>
      <ul>
    <li>Model Name&nbsp;:&nbsp;Color Fit Pro 2<br></li>
    <li>Closure&nbsp;:&nbsp;Strap Buckle<br></li>
    <li>Sensor&nbsp;:&nbsp;Accelerometer,Heart Rate Sensor<br></li>  
    <li>Fit&nbsp;:&nbsp;Regular<br></li> 
    <li>Compatible With&nbsp;:&nbsp;Android & iOS<br></li> 
    <li>Model Number&nbsp;:&nbsp;WTC001<br></li> 
    <li>Water Resistant&nbsp;:&nbsp;Yes<br></li>
    <li>Ideal for&nbsp;:&nbsp;Men & Women<br></li>
    <li>Notification&nbsp;:&nbsp;Yes<br></li>
    <li>Display&nbsp;:&nbsp;Color LCD Display<br></li>
    <li>Battery type&nbsp;:&nbsp;Lithium<br></li>
    <li>Charge Time&nbsp;:&nbsp;2 hrs<br></li>
    <li>Battery Life&nbsp;:&nbsp;Upto 10 days(Based on Usage)<br></li>
    <li>Strap Material&nbsp;:&nbsp;Sythetic<br></li>
    <li>Touchscreen&nbsp;:&nbsp;Yes<br></li>
    <li>Bluetooth&nbsp;:&nbsp;Yes<br></li>
    <li>Call Function&nbsp;:&nbsp;No<br></li>
    <li>Country of Origin : China</li>
<h6 class="mt-2">Warranty:</h6>
    <li>1 Year Manufacturer Warranty<br></li>
    <li>Physical Damages Not Covered in Warranty<br></li>

     
   
       </ul>
    </span>
      </div>
  </div>
</section>

<section id="featured" class="my-5 pb-5">
  <div class="container text-center mt-5 py-5 pb-5">
    <h3>Related Products</h3>
    <hr>
    
  </div>
  <div class="row mx-auto container-fluid">
    <div onclick="window.location.href='/shop/';" class="product text-center col-lg-3 col-md-4 col-12">
      <img src="{% static 'images/shop/16.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
      <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <h5 class="p-name">T-shirt</h5>
      <h4 class="p-price">699.00</h4>
      <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
    </div>
    <div onclick="window.location.href='/shop/';" class="product text-center col-lg-3 col-md-4 col-12">
      <img src="{% static 'images/shop/23.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
      <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <h5 class="p-name">T-shirt</h5>
      <h4 class="p-price">999.00</h4>
      <button type="button" class="btn btn-dark btn-outline-warning ">BUY NOW</button>
    </div>
    <div onclick="window.location.href='/shop/';" class="product text-center col-lg-3 col-md-4 col-12">
      <img src="{% static 'images/shop/8.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
      <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <h5 class="p-name">Hoodies</h5>
      <h4 class="p-price">899.00</h4>
      <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
    </div>
    <div onclick="window.location.href='/shop/';" class="product text-center col-lg-3 col-md-4 col-12">
      <img src="{% static 'images/shop/4.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
      <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <h5 class="p-name">Shoes</h5>
      <h4 class="p-price">899.00</h4>
      <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
    </div>

  </div>
</section>


      
<script>
  var MainImg = document.getElementById('MainImg');
  var smallimg = document.getElementsByClassName('small-img')

  smallimg[0].onclick = function(){
    MainImg.src =smallimg[0].src;
  }
  smallimg[1].onclick = function(){
    MainImg.src =smallimg[1].src;
  }
  smallimg[2].onclick = function(){
    MainImg.src =smallimg[2].src;
  }
  smallimg[3].onclick = function(){
    MainImg.src =smallimg[3].src;
  }
</script>

{% endblock %}