{% extends 'shopbase.html' %}
{% load static %}
{% block content %}


<section id="featured" class="my-5 py-5">
    <div class="container mt-5 py-5 pb-5">
      <h2>Men's Jeans</h2>
      <hr>
      <p>Here you can check out our new produtcs</p>
      
    </div>
    <div class="row mx-auto container">
        <div onclick="window.location.href='shopprod27';" class="product text-center col-lg-3 col-md-4 col-12">
            <img src="{% static 'images/1avq4-roadster-regular-men-black-jeans_500x500_0.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <small>Roadster</small>

            <h5 class="p-name">Jeans</h5>
            <h4 class="p-price">1699.00</h4>
            <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
          </div>
      
      <div onclick="window.location.href='shopprod30';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/91pevNBV41L._UY550_.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Lee</small>
        <h5 class="p-name">Jeans</h5>
        <h4 class="p-price">1399.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      



    </div>
  </section>

  {% endblock %}
