/{% extends 'shopbase.html' %}
{% load static %}
{% block content %}


<section class=" container sproduct my-5 pt-5">
  <div class="row mt-5">
    <div class="col-lg-5 col-md-12 col-12 mt-5">
    <img src="{% static 'images/34-5669094-roadster-original-imafw2hyhxgprhff.jpg' %}" alt="" srcset="" id="MainImg"  class="img-fluid w-100 pb-1">


    <div class="small-img-group">
      <div class="small-img-col">
        <img src="{% static 'images/34-5669094-roadster-original-imafw2hyhxgprhff.jpg' %}" alt="" width="100%" srcset="" class="small-img">
      </div>
      <div class="small-img-col">
        <img src="{% static 'images/34-2387582-moda-rapido-original-imagy9ydqvwg2q7e.jpg' %}" alt="" width="100%" srcset="" class="small-img">
      </div>
      <div class="small-img-col">
        <img src="{% static 'images/32-basic-bk-kc-32-foreign-heights-original-imafvpzekk2edyzx.jpg' %}" alt="" width="100%" srcset="" class="small-img">
      </div>
      <div class="small-img-col">
        <img src="{% static 'images/34-2387582-moda-rapido-original-imagy9ydx6nb5z3p.jpg' %}" alt="" width="100%" srcset="" class="small-img">
      </div>
      
    </div>
    </div>

    <div class="col-lg-5 col-md-12 col-12 mt-5">
      <p class="fs-5">Jeans</p>
      <h6 class="mt-3"> <b>ROADSTER</h6></b>
      <h3 class="py-4">Roadster Regular Men Black Skinny Fit Jeans</h3>
      <h2>1699.00</h2>
      <select class="my-3">
      <option>Select Size</option>
     
      <option>28</option>
      <option>30</option>
      <option>32</option>
      <option>34</option>
      <option>36</option>
      <option>38</option>

    </select>
    <input type="number" value="1">
    <button type="button" class="btn btn-dark btn-outline-warning">ADD TO CART</button>
    <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
    <h4 class="mt-3 mb-3">Available offers&nbsp;<i class="fas fa-tag" style="color: green;"></i></h4>
    <span>
      <ul>
      
        <li>Flat 15% discount on all Wednesdays<br></li>
        <li>Flat 20% discount on Midnight 12:00 am<br></li>  
      
        
  
           </ul>
    </span>

    <hr>

    <h4 class="mt-3 mb-3"> Product Details</h4>
    <span>
      <ul>
      
    <li>Type&nbsp;:&nbsp;Mens Skinny Fit Jeans<br></li>
    <li>Color&nbsp;:&nbsp;Black<br></li>  
    <li>Fit&nbsp;:&nbsp;Skinny<br></li> 
    <li>Fabric&nbsp;:&nbsp;Cotton Blend<br></li> 
    <li>Style Code&nbsp;:&nbsp;JEN001<br></li> 
    <li>Faded&nbsp;:&nbsp;Clean Look<br></li>
    <li>Ideal For&nbsp;:&nbsp;Men<br></li>
    <li>Rise&nbsp;:&nbsp;Mid Rise<br></li>
    <li>Distressed&nbsp;:&nbsp;Knee Slit<br></li>
    <li>Care Instructions&nbsp;:&nbsp;Machine wash as per tag<br></li>

     
     <li>
      Country of Origin : 
      India</li>
       </ul>
    </span>

      </div>
  </div>
</section>

<section id="featured" class="my-5 pb-5">
  <div class="container text-center mt-5 py-5 pb-5">
    <h3>Related Products</h3>
    <hr>
    
  </div>
  <div class="row mx-auto container-fluid">
    <div onclick="window.location.href='/shop/';" class="product text-center col-lg-3 col-md-4 col-12">
      <img src="{% static 'images/featured/1.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
      <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <h5 class="p-name">Shoes</h5>
      <h4 class="p-price">999.00</h4>
    <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
    </div>
    <div onclick="window.location.href='/shop/';" class="product text-center col-lg-3 col-md-4 col-12">
      <img src="{% static 'images/shop/1.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
      <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <h5 class="p-name">T-shirt</h5>
      <h4 class="p-price">699.00</h4>
      <button type="button" class="btn btn-dark btn-outline-warning ">BUY NOW</button>
    </div>
    <div onclick="window.location.href='/shop/';" class="product text-center col-lg-3 col-md-4 col-12">
      <img src="{% static 'images/adidas-men-mesh-lace-up-running-shoes2.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
      <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <h5 class="p-name">Shoes</h5>
      <h4 class="p-price">1699.00</h4>
      <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
    </div>
    <div onclick="window.location.href='/shop/';" class="product text-center col-lg-3 col-md-4 col-12">
      <img src="{% static 'images/product-4.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
      <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <h5 class="p-name">Hoodies</h5>
      <h4 class="p-price">1299.00</h4>
      <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
    </div>

  </div>
</section>
      
<script>
  var MainImg = document.getElementById('MainImg');
  var smallimg = document.getElementsByClassName('small-img')

  smallimg[0].onclick = function(){
    MainImg.src =smallimg[0].src;
  }
  smallimg[1].onclick = function(){
    MainImg.src =smallimg[1].src;
  }
  smallimg[2].onclick = function(){
    MainImg.src =smallimg[2].src;
  }
  smallimg[3].onclick = function(){
    MainImg.src =smallimg[3].src;
  }
</script>

{% endblock %}







