{% extends 'shopbase.html' %}
{% load static %}
{% block content %}


<section id="featured" class="my-5 py-5">
  <div class="container mt-5 py-5 pb-5">
    <h2>Men's fashion</h2>
    <hr>
    <p>Here you can check out our new produtcs</p>
    
  </div>
  <div class="row mx-auto container">
    <div onclick="window.location.href='/shopprod1/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/shop/1.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>H&M</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">699.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
     
     
      <div onclick="window.location.href='/shopprod7/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/gallery-1.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Puma</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">899.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod8/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/product-7.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Aero</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">699.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>


      <div onclick="window.location.href='/shopprod11/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/formal-suits-500x500.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Peter England</small>
        <h5 class="p-name">Men's suits</h5>
        <h4 class="p-price">2999.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod12/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/resize.jfif.png' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Louis Vuitton</small>
        <h5 class="p-name">Shirt</h5>
        <h4 class="p-price">1199.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>

      <div onclick="window.location.href='/shopprod14/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/t9v8-u-s-polo-assn-men-olive-green-solid-polo-t-shirt_500x500_2.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>U.S. POLO ASSN</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">999.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning ">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod15/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/puma-men-black-white-heather-cat-loose-fit-printed-drycell-training-t-shirt.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Puma</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">899.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
     
    
      <div onclick="window.location.href='/shopprod17/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/dsdfdf.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Allen Solly</small>
        <h5 class="p-name">Men's suits</h5>
        <h4 class="p-price">2999.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod18/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/dfdfdfdser.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Roadster</small>
        <h5 class="p-name">Shirt</h5>
        <h4 class="p-price">999.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning ">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod19/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/dsdsfdsfdsfds.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Levi's</small>
        <h5 class="p-name">Hoodies</h5>
        <h4 class="p-price">1799.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
    
     
     
      <div onclick="window.location.href='/shopprod24/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/oujhj.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Levi's</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">1099.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod25/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/sdssdwe.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Adidas</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">1399.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
    
      <div onclick="window.location.href='/shopprod27/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/1avq4-roadster-regular-men-black-jeans_500x500_0.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Roadster</small>
        <h5 class="p-name">Jeans</h5>
        <h4 class="p-price">1699.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod28/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/44-11895982-roadster-original-imafvtvwzz75qgyh.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Roadster</small>
        <h5 class="p-name">Shirts</h5>
        <h4 class="p-price">999.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      
      <div onclick="window.location.href='/shopprod30/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/91pevNBV41L._UY550_.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Lee</small>
        <h5 class="p-name">Jeans</h5>
        <h4 class="p-price">1399.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
   
      <div onclick="window.location.href='/shopprod32/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/puma-men-black-grey-slim-fit-printed-modern-basics-round-neck-t-shirt.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Puma</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">1299.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>

   

  </div>
</section>

{% endblock %}