{% extends 'shopbasenavtest.html' %}

{% load static %}
{% block content %}


<section id="featured" class="my-5 py-5">
    <div class="container mt-5 py-5 pb-5">
      <h2>Featured Products</h2>
      <hr>
      <p>Here you can check out our new produtcs</p>
      
    </div>
    <div class="row mx-auto container">
      <div onclick="window.location.href='/shopprod1/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/shop/1.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>H&M</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">699.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod2/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/shop/6.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Cindrella</small>
        <h5 class="p-name">Hoodies</h5>
        <h4 class="p-price">899.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning ">BUY NOW</button>
      </div>
      <div  onclick="window.location.href='/shopprod3/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/png (2).jfif.png' %}" class="img-fluid mb-3 pb-1" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Puma</small>
        <h5 class="p-name">Shoe</h5>
        <h4 class="p-price">1999.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod4/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/floatride-energy-grow-mens-running-shoes (1).jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Reebok</small>
        <h5 class="p-name">Shoe</h5>
        <h4 class="p-price">1899.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
  
      <div onclick="window.location.href='/shopprod5/';"class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/featured/1.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Karlin</small>
        <h5 class="p-name">Shoe</h5>
        <h4 class="p-price">999.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod6/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/Noise-ColorFit-Pro-3-vs-Noise-ColorFit-Pro-2.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Noise</small>
        <h5 class="p-name">Watch</h5>
        <h4 class="p-price">2999.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning ">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod7/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/gallery-1.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Puma</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">899.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod8/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/product-7.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Aero</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">699.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>


      <div onclick="window.location.href='/shopprod9/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/product-3.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Alan Jones</small>
        <h5 class="p-name">Hoodies</h5>
        <h4 class="p-price">1299.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod10/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/swift-run-x-shoes.png' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Adidas</small>
        <h5 class="p-name">Shoe</h5>
        <h4 class="p-price">1699.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning ">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod11/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/formal-suits-500x500.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Peter England</small>
        <h5 class="p-name">Men's suits</h5>
        <h4 class="p-price">2999.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod12/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/resize.jfif.png' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Louis Vuitton</small>
        <h5 class="p-name">Shirt</h5>
        <h4 class="p-price">1199.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>

      <div onclick="window.location.href='/shopprod13/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/ghfghgh.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Apple</small>
        <h5 class="p-name">Watch</h5>
        <h4 class="p-price">43999.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod14/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/t9v8-u-s-polo-assn-men-olive-green-solid-polo-t-shirt_500x500_2.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>U.S. POLO ASSN</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">999.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning ">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod15/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/puma-men-black-white-heather-cat-loose-fit-printed-drycell-training-t-shirt.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Puma</small>
        <h5 class="p-name">T-shirt</h5>
        <h4 class="p-price">899.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      <div onclick="window.location.href='/shopprod16/';" class="product text-center col-lg-3 col-md-4 col-12">
        <img src="{% static 'images/Sonata-77031nm03-Metal-Analog-Men-SDL666892191-2-170d9.jpg' %}" class="img-fluid mb-3" alt="" srcset="">
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <small>Sonata</small>
        <h5 class="p-name">Watch</h5>
        <h4 class="p-price">2799.00</h4>
        <button type="button" class="btn btn-dark btn-outline-warning">BUY NOW</button>
      </div>
      

      <nav aria-label="..." class="pt-5">
        <ul class="pagination mt-5">
          <li class="page-item ">
            <a class="page-link" href="/shop/" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item active" ><a class="page-link" href="/shop/">1</a></li>
          <li class="page-item " aria-current="page">

            <a class="page-link" href="/shopprodpage2/">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="/shopprodpage2/">Next</a>
          </li>
        </ul>
      </nav>

    </div>
  </section>

  {% endblock %}
