
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins' sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
    
}

h3{
    font-size: 1.6rem;
    font-weight: 700;
    
}

h4{
    font-size: 1.1rem;
    font-weight: 600;
    
}

h5{
    font-size: 1.8rem;
    font-weight: 500;
    
}

h6{
   color:rgb(7, 6, 6)
}

hr{
    align-items: flex-start;
    width: 100%;
    height: 2px;
    background-color: rgb(129, 107, 107);
}

.star{
    padding: 10px 0px;
}

.star i{
    font-size: 0.8rem;
    color: goldenrod;

}


.navbar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    box-shadow: rgb(73, 72, 72) 0px 10px 20px -7px;
  /*   box-shadow: 0 5px 100px rgba(0, 0, 0, 0.7);
     */
    
}



.navbar-light .navbar-nav .nav-link{
    color: rgb(122, 72, 72);
    transition: 0.3 ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar i :active{
    color:coral;
}

.navbar i{
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
} 

.h1brand{
    text-align: center;

    font-weight: 500;

}

  




  


  


.carousel-inner img{
    
    height: 700px;
    width:100%
    
}

.carousel-inner h5{
    font-weight: 700;
    font-family: monospace;
    color:rgb(219, 203, 203)
}
.carousel-inner p{
    color: burlywood;

}
#new .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#new .one .details{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    transition: 0.3 ease;
}
#new .one:hover .details{
   
    background-color: rgba(139, 132, 132, 0.7)
}
#new .one .details h2{
    color: rgb(20, 19, 19);
    font-weight: 800;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

 
 

.product{
    cursor: pointer;
    margin-bottom: 2rem;

}
.product img{ 
    transition: 0.3s all;
 

}

.product:hover img{
    opacity: 0.7;
}



#offer{
    background-image: url("/static/images/Smart-Watc_2000x.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position:top center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-start;
}


#offer h1{
    color: rgb(225, 232, 238);
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#offer button{
    background-color: black
}

#banner{
    background-image: url("/static/images/suit-690048.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position:top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


#banner h4{
    color: honeydew;
}

#banner h1{
    color: honeydew;
}

#banner button{
    background-color: #FF7F50
}

#copyright p{
    text-align: center;
    color:white;
}

footer{
    background-color: black;
    
    
}
footer h5{
    font-weight: 400;
    color: azure;
    font-size: 1rem;
    
}
footer li a{
    color: #999;
    
}
footer li a:hover{
    color:#D8D8D8
}
footer h5{
    font-size: 1.4rem;
    font-weight: 400;
    
}

footer i{
    color: white;
    size: 20px;
    font-size: 1.25rem;
   
    
}

footer p{
    color: #999;
}
footer h6{
    color: white;
}


#featured p{
    color: rgb(58, 47, 47);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}


 
/* ////// */

.cart-page{
    
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}
table th{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

table p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table small{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;

}

th{
    text-align: center;
    color: white;
    background: rgb(41, 41, 41);
    padding: 5px;
}
td{
    padding: 10px 5px;
}

td input{
    
    width: 40px;
    height: 30px;
    padding: 5px;

}

td a{
    color: red;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #858180;
    width: 100%;
    max-width: 420px;
}

.total-price td{
    font-weight: 500;
}


th:last-child{
    text-align: right;
}
td:last-child{
    text-align: right;
}
/* .cart-info p{
    display: none;
} */

th:first-child{
    text-align: left;
}
th:nth-child(2){   
    text-align: left;
}
