{% extends 'adminbase.html' %}
{% load static %}
{% block content %}


<div class="container py-3 ml-4 mt-3 mb-3 text-left">
    <h3>BRANDS:</h3>
</div>

  
<div class="container">
  
    <table class="table table-hover table-border table-active w-100" style=" align-items: center; ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Brands</th>
            <th scope="col">Edit/Delete</th>
          </tr>
        </thead>
        {% for brand in brands %}
        <tbody>
          <tr>
            <th scope="row">{{brand.id}}</th>
            <td>{{brand.brand_names}}</td>
            <td>
           <a href="/viewsingledata/{{brand.id}}"><button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button></a>

            <a href="/deleteuser/{{brand.id}}" onclick="return confirm ('Are You Sure ?')">  <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button></a>
        </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
  <a href="/addbrand/"> <button type="button" value="" class="btn btn-primary mb-5 mt-3">Add Brand</button></a>  
  
</div>

{% endblock %}