{% extends 'adminbase.html' %}
{% load static %}
{% block content %}


<div class="container py-3 ml-4 mt-3 mb-3 text-left">
    <h3>CATEGORIES:</h3>
</div>

<div class="container">
    <table class="table table-hover table-border table-active" style="align-items: center; ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Brands</th>
            <th scope="col">Category</th>
            <th scope="col">Edit/Delete</th>
          </tr>
        </thead>
        
        <tbody>
          {% for x in data %}
          <tr>
            <th scope="row">{{x.id}}</th>
            <td>{{x.brand_category_id.brand_names}}</td>

            <td>{{x.categories}}</td>
            
            <td>
             <a href="/viewcategorydata/{{x.id}}"><button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button></a>

            <a href="/deletecategory/{{x.id}}"> <button onclick="return confirm ('Are You Sure ?')" type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button></a>  
        </td>
        
          </tr>
          {% endfor %}

        </tbody>
      </table>
      <a href="/addcategory/"> <button type="button" class="btn btn-primary mb-5 mt-3">Add Category</button></a>  

    </div>

{% endblock %}