{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<div class="container py-3 ml-4 mt-3 mb-3 text-left">
    <h3>Update Category <i class="fas fa-wrench" style="color: red;"></i></h3>
</div>


<div class="container " style="height:500px; width: 100%;">
    <form class="form bg-transparent mb-2" action="/updatecategory/{{data.id}}" method="POST" style="font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;">
      {% csrf_token %}

        <div class="form-group p-5 m-auto">

        <div class="form-group">
            <label class="control-label col-sm-2">Brand:</label>
            <div class="col-sm-3">
            <select class="form-control" name="brande">
              {% for brand in brndd %}
                <option>{{brand.brand_names}}</option>
                {% endfor %}
            
      
            </select>
          </div>
        </div>


          <label class="control-label col-sm-2">Category:</label>
          <div class="col-sm-8">
            <input type="text" name="category" class="form-control" value="{{data.categories}}">
          </div>
        </div> 


        <a href=""> <button type="submit" class="btn btn-primary mb-3 " style="margin-left: 65px;">EDIT </button></a>  

          
         </form>
      </div>




{% endblock %}