{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/shopstyle.css' %}">
<link rel="stylesheet" href="{% static 'css/cartstyle.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/shopproddetailsstyle.css' %}">

<section class="container sproduct">
    
    <div class="row container" >
      <div class="col-lg-5 col-md-12 col-12 mt-5">
        
      <img src="/adminapp/media/{{imgs.image}}" alt="" srcset="" id="MainImg"  class="img-fluid w-100 pb-1">
  
  
      <div class="small-img-group">
        
     
        <div class="small-img-col">
          <img src="/adminapp/media/{{imgs.image}}" alt="" width="100%" srcset="" class="small-img">
        </div>
        <div class="small-img-col">
          <img src="/adminapp/media/{{imgs.image}}" alt="" width="100%" srcset="" class="small-img">
        </div>
        <div class="small-img-col">
          <img src="/adminapp/media/{{imgs.image}}" alt="" width="100%" srcset="" class="small-img">
        </div>
        <div class="small-img-col">
          <img src="/adminapp/media/{{imgs.image}}" alt="" width="100%" srcset="" class="small-img">
         
        </div>
        
      </div>
      
      </div>
  
      
      <div class="col-lg-5 col-md-12 col-12 mt-5">
        <p class="fs-5">{{prods.category.categories}}</p>
        <h6 class="mt-3"><b>{{prods.brand.brand_names}}</h6></b>
        
  
  
        <h3 class="py-4">{{prods.prod_name}}</h3>
        <h2>{{prods.price}}</h2>

        <h6 class="mt-3 p-2"> Size : <b>{{prods.size_dresses}}</h6></b>


  
      <h4 class="mt-3 mb-3">Discounts&nbsp;<i class="fas fa-tag" style="color: green;"></i></h4>
      <span>
        <ul>
        
          <li>{{prods.discount}}<br></li>
          <!-- <li>Flat 20% discount on Midnight 12:00 am<br></li>   -->
        
        </ul>
      </span>
  
      <hr>
  
      <h4 class="mt-3 mb-3">Product Details</h4>
      <span>
        <ul>
        
      <li>{{prods.description}}</li>
      <!-- <li>Sleeve&nbsp;:&nbsp;Half Sleeve<br></li>  
      <li>Fit&nbsp;:&nbsp;Regular<br></li> 
      <li>Fabric&nbsp;:&nbsp;Pure Cotton<br></li> 
      <li>Style Code&nbsp;:&nbsp;TSH001<br></li> 
      <li>Neck Type&nbsp;:&nbsp;Round Neck<br></li>
      <li>Ideal For&nbsp;:&nbsp;Men<br></li>
      <li>Pattern&nbsp;:&nbsp;Plain<br></li>
      <li>Care Instructions&nbsp;:&nbsp;Hand wash only<br></li> -->
  
        </ul>
      </span>
      
        </div>
        
    </div>
  </section>
      
  <script>
    var MainImg = document.getElementById('MainImg');
    var smallimg = document.getElementsByClassName('small-img')
  
    smallimg[0].onclick = function(){
      MainImg.src =smallimg[0].src;
    }
    smallimg[1].onclick = function(){
      MainImg.src =smallimg[1].src;
    }
    smallimg[2].onclick = function(){
      MainImg.src =smallimg[2].src;
    }
    smallimg[3].onclick = function(){
      MainImg.src =smallimg[3].src;
    }
  </script>
{% endblock %}